<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Paiement</title>
    <link rel="stylesheet" href="path_to_your_css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    {% load extra_filters %}
    <div class="container">
        <h1>Confirmation de Paiement</h1>
        <h2>Adresse de Livraison</h2>
        <p>Nom: {{ user_info.first_name }} {{ user_info.last_name }}</p>
        <p>Email: {{ user_info.email }}</p>
        <p>Téléphone: {{ user_info.phone }}</p>

        <h2>Votre Panier</h2>
        {% for item in panier %}
        <div>
            <p>Article: {{ item.article.designation }}</p>
            <p>Prix unitaire: {{ item.article.prix }} €</p>
            <p>Quantité: {{ item.qte }}</p>
            <p>Total: {{ item.article.prix|multiply:item.qte }} €</p>
        </div>
        {% endfor %}

        <h3>Total à payer: {{ total }} €</h3>

        <!-- Bouton de paiement -->
        <form action="{% url 'process_payment' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Confirmer le paiement</button>
        </form>
    </div>
    <script src="path_to_your_js/jquery-3.5.1.min.js"></script>
    <script src="path_to_your_js/bootstrap.min.js"></script>
</body>
</html>
